@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
body {
    background: linear-gradient(to right, #141e30, #243b55);
    color: rgb(216, 210, 213);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 19px;
    margin: 0px;
    overflow: auto;
}

* {
    overflow-wrap: break-word;
    outline:0;
    user-select: none;
    -webkit-user-select: none;
}

button {
   color: white;
   border-radius: 1em; 
   padding: 0.4em 0.8em 0.4em 0.8em;
   border-radius: 1em;
   border: 0px;
   font-size: 15px;
   margin-left: 0.5em;
   margin-right: 0.5em;
}

.text-area {
    box-shadow: inset 0px 0px 5px #484848;
    border-radius: 2em;
    padding: 0.3em;
    border: 0px;
    padding-left: 0.5em;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.header-bar {
    background: rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 5px rgba(23, 23, 23, 0.4);
    order: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 1.5em;
    padding: 0.3em;
}

.header-bar .icon {
    font-size:20px;
}


.content-flex {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.sidebar {
    background: rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 5px rgba(23, 23, 23, 0.4);
    order: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sidebar .icon {
    font-size:20px;
    padding: 0.4em;
}

.content {
    order: 1;
    overflow-y: auto;
    padding: 0.5em;
}

.header-settings {
    order: 0;
    flex: 1;
}

.header-subreddit {
    order: 1;
    flex: 1;
}

.search-container {
    order: 2;
}

.post {
    background: rgba(125, 125, 125, 0.24);
    box-shadow: 2px 2px 6px #212121;
    border-radius: 1.2em;
    padding: 1.2em;
    margin: 0.3em;
    display: flex;
    flex-direction: row;
}

.btn-r {
   background: rgb(218, 34, 111);
   box-shadow: 0px 0px 25px rgb(218, 34, 111);
}

.post-preview {
    order: 0;
    width: 25%;
    padding-right: 1em;
}

.post-body {
    order: 1;
    width: 100%;
}

.thumbnail {
    box-shadow: 0px 0px 13px #131313;
    width: 100%;
    border-radius: 1em;
}

.post-author {
    color: gray;
    font-size: 0.9em;
}

.post-title {
    color: white;
    font-size: 1.1em;
}

.post-description {
    color: white;
    font-size: 1em;
}

.post-subreddit {
    color: gray;
    font-size: 0.7em;
}

.post-selfText {
    background: rgba(202, 202, 202, 0.164);
    color: rgb(187, 187, 187);
    font-size: 0.9em;
    padding: 1em;
    border-radius: 1em;
    margin-top: 0.5em;
}

::-webkit-scrollbar {
    background: rgba(26, 26, 26, 0.027);
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    background: rgba(167, 167, 167, 0.49);
    border-radius: 10px;
}